<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit page</title>
    <style>
    h1{
    text-align: center;
    color: turquoise;
    }
    img{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: block;
    }
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    </style>
</head>
<body>
<img src="/check mark.jpg" alt="check_mark">    
<h1>logged in successfully</h1>
</body>
</html>