<ul>

  <div class="dropdown">
    <a href="/"><button class="dropbtn">Home</button></a>
    <div class="dropdown-content">
        <a href="/subscribe">Subscribe</a>
        <a href="/robloxlink">Roblox</a>
        <!-- <a href="/projects">My School</a> -->
      </div>
    </div>



    <div class="dropdown">
      <button class="dropbtn">Projects</button>
      <div class="dropdown-content">
          <a href="/space">Solar system</a>
          <a href="https://hyperktech-encrypt.herokuapp.com" target="_blank">Encryption Decryption Website</a>
          <a href="https://english-to-minionese.herokuapp.com/" target="_blank">English to Minionese</a>
          <a href="https://kaveeshfacts.herokuapp.com/" target="_blank">Kaveesh's Facts</a>
          <a href="/calculator">Calculator</a>
          <a href="/art">Milkshake</a>
          <a href="/violin">Violin</a>
          <a href="/helicopter">Helicopter</a>
          <!-- <a href="/projects">My School</a> -->
        </div>
      </div>




      <div class="dropdown">
        <a href="/login"><button class="dropbtn">Login</button></a>
            <!-- <a href="/projects">My School</a> -->
          </div>

          <div class="dropdown">
            <a href="/register"><button class="dropbtn">Register</button></a>
                <!-- <a href="/projects">My School</a> -->
              </div>
  </ul>